:root {
  --background: #fff6a4;
  --background-alter: #e65a41;
  --input-border: #c52018;
  --input-text: #e65a41;
  --btn-background: #9c5200;
  --primary-default: #fff;
}

/* Default */
body {
  background-color: var(--background);
}

h1,
h2,
button {
  font-family: "Roboto", sans-serif;
}

input,
span,
li {
  font-family: "Quicksand", sans-serif;
}

span,
li {
  display: block;
  line-height: 1.5;
}

img {
  width: 50%;
}

/* Header */
.logo {
  display: block;
  margin: 0 auto;
}
/* Main */
.main-title {
  text-align: center;
}

.main-img {
  display: block;
  margin: 0 auto;
}

.data {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.title {
  display: inline;
  font-weight: bold;
}

.stat,
.move {
  display: inline;
  font-weight: bold;
  margin-left: 0.5rem;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.input-name {
  padding: 0.5rem;
  width: 13.542rem;
  display: block;
  border: 1px solid var(--input-border);
  font-size: 1.1rem;
  background: none;
  color: var(--input-text);
  border-radius: 5px;
}

.btn {
  padding: 0.5rem;
  margin-top: 1rem;
  width: 13.543rem;
  font-size: 1.1rem;
  background-color: var(--btn-background);
  color: var(--primary-default);
  border: none;
  border-radius: 5px;
}
