:root {
  --background: #fff6a4;
  --background-alter: #e65a41;
  --input-border: #c52018;
  --input-text: #e65a41;
  --btn-background: #9c5200;
  --primary-default: #fff;
}

/* Default */
body {
  background-color: var(--background);
}

h1,
h2,
button {
  font-family: "Roboto", sans-serif;
}

input,
span,
li {
  font-family: "Quicksand", sans-serif;
}

span,
li {
  line-height: 1.5;
  text-transform: capitalize;
}

img {
  width: 50%;
}

/* Header */
.logo {
  display: block;
  margin: 0 auto;
}
/* Main */
.main-title {
  text-align: center;
}


.card {
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: var(--primary-default);
  border-radius: 10px;
}

.card-img, .main-img {
  display: block;
  margin: 0 auto;
}

.card-body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
}

.border-style {
  padding: 0.2rem;
  border: 1px solid var(--btn-background);
  border-radius: 10px;
}

#general {
  display: flex;
  justify-content: space-around;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#stats {
  margin-top: 0.5rem;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#stats span {
  width: 100%;
  text-align: center;
}

#stats ul {
  display: flex;
  flex-wrap: wrap;
}

#stats li {
  display: block;
  width: 50%;
}

#moves {
  margin-top: 0.5rem;
  text-align: center;
}

.title {
  display: inline;
  font-weight: bold;
}

.stat,
.move {
  display: inline;
  font-weight: bold;
  text-transform: capitalize;
}

.form {
  margin-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.input-name {
  padding: 0.5rem;
  width: 13.542rem;
  display: block;
  border: 1px solid var(--input-border);
  font-size: 1.1rem;
  background: none;
  color: var(--input-text);
  border-radius: 5px;
}

.btn {
  padding: 0.5rem;
  margin-top: 1rem;
  width: 13.543rem;
  font-size: 1.1rem;
  background-color: var(--btn-background);
  color: var(--primary-default);
  border: none;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {

  .logo {
    width: 40%;
  }

  .card {
    width: 40%;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .card {
    width: 35%;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    width: 15%;
  }

  .main-img {
    width: 25%;
  }

  .card {
    width: 25%;
  }
}